

/*************************************************
      Modify Existing Bootstrap/Fontawesome
*************************************************/
img {
  width: 100%;
}
.grey {
  color: grey;
}
.black {
  color: #000;
}
.avatarDiv {
  max-width: 200px;
}
.tweets img, .worldTweets img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.navbar-default {
  background-color: #628cac;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a,
.fa.fa-bars {
  color: #e8dbdb;
}
body {
  background-color: #dde6e7;
}
