body {
  /*font-family: 'Roboto Slab', serif;*/
  font-family: 'Lato', sans-serif;
  /*background-color: #dde6e7;*/
  background-color: rgba(211, 213, 214, 0.26);
}
html, body {
  height: 100%;
}
.clear::before, .clear::after {
  content: "";
  display: table;
}
.clear::after {
  clear: both;
}
.muted {
  margin-top: .5em;
  font-size: .9em;
  color: grey;
  font-weight: 300;
  text-align: center;
}
.logo-words {
  font-family: 'Irish Grover', cursive;
  /*color: teal;*/
  color: #2196F3;
}
.blue {
  background-color: #2196F3;
}
.inlineDiv {
  display: inline-block;
}
.what {
  color: #FFC107;
}
.yellow {
  /*color: gold;*/
  background-color: #FFC107;
}
.retweeted {
  color: #f7f4fc;
  /*background-color: #8862cc;*/
  background-color: #FFC107;
  border-radius: 3px;
  padding: 2px;
}
.bold {
  font-weight: 700;
}
label {
  color: #929090;
  font-weight: 400;
}
/*************************************************
      Modify Existing Bootstrap/Fontawesome
*************************************************/
img {
  width: 100%;
}
.grey {
  color: grey;
}
.black {
  color: #000;
}
.avatarDiv {
  max-width: 200px;
  margin: auto;
}
.tweets img, .worldTweets img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.navbar {
  margin-bottom: 0;
}
.navbar-default {
  /*background-color: #628cac;*/
  background-color: #fff;
  border-bottom: 2px solid #c3c3c3;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a,
.fa.fa-bars {
  color: #e8dbdb;
}
.navbar-default .navbar-toggle {
  border-color: #ddd;
}
.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a, .fa.fa-bars {
  color: #c9b9b9;
}
.btn-primary {
  background-color: #2196F3;
}
.btn-primary:hover {
  background-color: #1583da;
}
.btn-default {
  background-color: #FFC107;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: whitesmoke;
}
.container {
  padding: 0;
}
.panel {
  margin-bottom: 0;
  border-radius: 0;
  border-top: 0;
}
.panel-body {
  padding: .75em;
}
.fa-ellipsis-h {
  position: absolute;
  margin-top: -.5em;
}
/*************************************************
                    LOGIN / SIGN UP
*************************************************/
.container.signForm {
  height: 100%;
  background-color: whitesmoke;
  margin-top: 2em;
}
/*************************************************
                    WORLD TIMELINE
*************************************************/
.worldTweets p, .tweetLeft {
  margin-left: 3em;
}
.worldTweets .retweetedPic {
  height: 23px;
  width: 23px;
}
.worldTweets .retweeter {
  color: #a7a7a7;
  font-size: .85em;
  margin-bottom: .5em;
  font-weight: 300;
}
.worldTweets .editButtons {
  text-align: center;
  margin-left: -3em;
}
.worldTweets .editTweets {
  margin: .75em -.75em -0.75em -.75em;
}
.worldTweets .editTweets .btn {
  border-radius: 0;
  margin-top: 0;
}
textarea {
  width: 100%;
  padding: .5em;
}
.worldTweets .leftRightMargin {
  margin: 0 2em;
}
/*************************************************
                    PROFILE
*************************************************/
#profile h1 {
  color: #9e9e9e;
}
.profileData {
  margin: 2em 0;
}
.profileData h3 {
  font-size: 1.25em;
  color: #fff;
}
.profileData div {
  width: 50%;
  float: left;
  text-align: center;
}
