body {
  /*font-family: 'Roboto Slab', serif;*/
  font-family: 'Lato', sans-serif;
  /*background-color: #dde6e7;*/
  background-color: rgba(211, 213, 214, 0.26);
}
html, body {
  height: 100%;
}
.logo-words {
  font-family: 'Irish Grover', cursive;
  /*color: teal;*/
  color: #2196F3;
}
.what {
  /*color: gold;*/
  color: #FFC107;
}
.retweeted {
  color: #f7f4fc;
  background-color: #8862cc;
  border-radius: 3px;
  padding: 2px;
}
.bold {
  font-weight: 700;
}
.worldTweets .retweetedPic {
  height: 23px;
  width: 23px;
}
.worldTweets .retweeter {
  color: #a7a7a7;
  font-weight: 300;
}
label {
  color: #929090;
  font-weight: 400;
}
/*************************************************
      Modify Existing Bootstrap/Fontawesome
*************************************************/
img {
  width: 100%;
}
.grey {
  color: grey;
}
.black {
  color: #000;
}
.avatarDiv {
  max-width: 200px;
}
.tweets img, .worldTweets img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.navbar {
  margin-bottom: 0;
}
.navbar-default {
  /*background-color: #628cac;*/
  background-color: #fff;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a,
.fa.fa-bars {
  color: #e8dbdb;
}
.navbar-default .navbar-toggle {
  border-color: #ddd;
}
.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a, .fa.fa-bars {
  color: #c9b9b9;
}
.btn-primary {
  background-color: #2196F3;
}
.btn-primary:hover {
  background-color: #1583da;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: whitesmoke;
}
/*************************************************
                    LOGIN / SIGN UP
*************************************************/
.container.signForm {
  height: 100%;
  background-color: whitesmoke;
  margin-top: 2em;
}
