<div class="container">

  <h1>Edit {{rootUsername}}'s Profile</h1>

  <h3>Profile Picture</h3>

  <div class="avatarDiv">
    <img ng-if="userInfo.avatar" ng-src="upload/{{userInfo.avatar}}" alt="">
    <img ng-if="!userInfo.avatar" src="images/default_user_avatar.png" alt="">
  </div>

  <form ng-controller="FileController">
    <div class="">
      <input type="file" nv-file-select=""uploader="uploader">
      <button class="upload btn btn-primary" ng-disabled="!uploader.getNotUploadedItems().length" ng-click="uploader.uploadAll()">
        Upload new picture
      </button>
    </div>
  </form>

  <a ui-sref="profile({ username: $rootScope.rootUsername })" class="btn btn-default">Cancel</a>
  <button ng-click="saveProfileEdits()" class="btn btn-success">Save</button>

</div>
