<div class="followers container">
  <button class="backBtn btn btn-block">
    <a ui-sref="profile({ username: currProfileUser })">
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </a>
    <span>Followers</span>
  </button>

  <div class="">
    <div ng-repeat="user in followers" class="panel-body">
      <a class="userIcon" ui-sref="profile({ username: user._id })">
        <img ng-if="user.avatar" ng-src="upload/{{user.avatar}}" alt="">
        <img ng-if="!user.avatar" ng-src="images/default_user_avatar.png" alt="">
      </a>
      <a ui-sref="profile({ username: user._id })">
        @{{ user._id }}
      </a>
      <div class="followingDiv inlineDiv pull-right" ng-show="rootUsername !== user._id">
        <button ng-show="rootFollowing.indexOf(user._id) < 0" ng-click="updateFollowingStatus(user._id, true)" class="btn btn-default">Follow</button>
        <button ng-show="rootFollowing.indexOf(user._id) > -1" ng-click="updateFollowingStatus(user._id, false)" class="btn btn-success">Following</button>
      </div>
    </div>
  </div>

</div>
