<div class="container">

  <h1>World Timeline</h1>

  <div class="worldTweets">
    <div class="panel panel-default" ng-repeat="tweet in allTweets">
      <div class="panel-body">
        <div ng-show="tweet.retweeter">
          {{ tweet.date | date : "MMM dd, yyyy"}}<br>
          <a ui-sref="profile({ username: tweet.retweeter })">{{ tweet.retweeter }}</a> retweeted:
          <div class="">
            {{ tweet.tweet.date | date : "MMM dd, yyyy"}}<br>
            <a ui-sref="profile({ username: tweet.tweet.author })">{{ tweet.tweet.author }}</a> tweeted '{{tweet.tweet.content}}'
          </div>
          <div class="">
            <i ng-click="retweetTweet(tweet.tweet._id)" ng-class="{ 'grey' : (!(checkIfUserExists(tweet.tweet.likes)) || !rootUsername ), 'black' : checkIfUserExists(tweet.tweet.likes) }" class="fa fa-retweet" aria-hidden="true"></i><span>{{tweet.tweet.retweetCount}}</span>
            <i ng-click="likeTweet(tweet.tweet._id, tweet.tweet.likes)" ng-class="{ 'grey' : ((tweet.tweet.likes.indexOf(rootUsername) < 0) || !rootUsername), 'black' : (tweet.tweet.likes.indexOf(rootUsername) > -1) }" class="fa fa-heart" aria-hidden="true"></i><span>{{tweet.tweet.likes.length}}</span>
          </div>
        </div>
        <div ng-show="!editMode && !tweet.retweeter">
          {{tweet.date | date : "MMM dd, yyyy"}}<br>
          <a ui-sref="profile({ username: tweet.author })">{{ tweet.author }}</a> tweeted '{{tweet.content}}'
          <div class="">
            <i ng-click="retweetTweet(tweet._id)" ng-class="{ 'grey' : (!(checkIfUserExists(tweet.likes)) || !rootUsername ), 'black' : checkIfUserExists(tweet.likes) }" class="fa fa-retweet" aria-hidden="true"></i><span>{{tweet.retweetCount}}</span>
            <i ng-click="likeTweet(tweet._id, tweet.likes)" ng-class="{ 'grey' : ((tweet.likes.indexOf(rootUsername) < 0) || !rootUsername), 'black' : (tweet.likes.indexOf(rootUsername) > -1) }" class="fa fa-heart" aria-hidden="true"></i><span>{{tweet.likes.length}}</span>
          </div>
        </div>
        <div ng-show="rootUsername === tweet.author" class="editTweets">
          <div ng-show="!editMode">
            <button ng-click="editMode = true; originalContent = tweet.content" class="btn btn-primary">Edit</button>
            <button class="btn btn-danger" ng-click="deleteTweet(tweet._id, tweet.author)">Delete</button>
          </div>
          <div ng-show="editMode">
            <textarea ng-model="tweet.content" rows="8" cols="80"></textarea>
            <button ng-click="saveTweet(tweet._id, tweet.content)" class="btn btn-success">Save</button>
            <button ng-click="editMode = false; tweet.content = originalContent" class="btn btn-primary">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
