<div class="container">

  <!-- <h1>World Timeline</h1> -->

  <div class="worldTweets">
    <div class="panel panel-default" ng-repeat="tweet in allTweets">
      <div class="panel-body">
        <div ng-show="tweet.retweeter">
            <div class="retweeter">
              <i class="fa fa-retweet retweeted" aria-hidden="true"></i>
              <img ng-if="tweet.avatar" ng-src="upload/{{tweet.avatar}}" alt="">
              <img ng-if="!tweet.avatar" src="images/default_user_avatar.png" alt="">
              <a ui-sref="profile({ username: tweet.retweeter })">@{{ tweet.retweeter }}</a> retweeted ·
              {{ tweet.date | date : "MMM dd, yyyy"}}<br>
            </div>
          <div class="">
            <img ng-if="tweet.tweet.avatar" ng-src="upload/{{tweet.tweet.avatar}}" alt="">
            <img ng-if="!tweet.tweet.avatar" src="images/default_user_avatar.png" alt="">
            <a ui-sref="profile({ username: tweet.tweet.author })" class="bold">@{{ tweet.tweet.author }}</a> · {{ tweet.tweet.date | date : "MMM dd, yyyy"}}
            <p>{{tweet.tweet.content}}</p>
          </div>
          <div class="tweetLeft">
            <div class="inlineDiv">
              <i ng-click="retweetTweet(tweet.tweet._id)" ng-class=" ((tweet.tweet.retweeters.indexOf(rootUsername) < 0) || !rootUsername ) ? 'grey' : 'black'" class="fa fa-retweet" aria-hidden="true"></i><span> {{tweet.tweet.retweetIds.length}}</span>
            </div>
            <div class="inlineDiv leftRightMargin">
              <i ng-click="likeTweet(tweet.tweet._id, tweet.tweet.likes)" ng-class=" ((tweet.tweet.likes.indexOf(rootUsername) < 0) || !rootUsername) ? 'grey' : 'black'" class="fa fa-heart" aria-hidden="true"></i><span> {{tweet.tweet.likes.length}}</span>
            </div>
            <div class="inlineDiv">
              <i ng-click="showBtns = true" class="fa fa-ellipsis-h" aria-hidden="true"></i>
            </div>
          </div>
          <div class="editTweets" ng-show="(rootUsername === tweet.retweeter) && (showBtns)">
            <button ng-click="deleteRetweet(tweet._id, tweet.tweet._id)" class="btn btn-danger btn-block">Delete</button>
            <button class="btn btn-default btn-block" ng-click="showBtns = false" name="button">Cancel</button>
          </div>
        </div>
        <div ng-show="!editMode && !tweet.retweeter">
          <img ng-if="!tweet.avatar" src="images/default_user_avatar.png" alt="">
          <img ng-if="tweet.avatar" ng-src="upload/{{tweet.avatar}}" alt="">
          <a ui-sref="profile({ username: tweet.author })">@{{ tweet.author }}</a> · {{tweet.date | date : "MMM dd, yyyy"}}
          <p>{{tweet.content}}</p>
          <div class="tweetLeft">
            <div class="inlineDiv">
              <i ng-click="retweetTweet(tweet._id)" ng-class=" ((tweet.retweeters.indexOf(rootUsername) < 0) || !rootUsername ) ? 'grey' : 'black'" class="fa fa-retweet" aria-hidden="true"></i><span>{{tweet.retweetIds.length}}</span>
            </div>
            <div class="inlineDiv leftRightMargin">
              <i ng-click="likeTweet(tweet._id, tweet.likes)" ng-class=" ((tweet.likes.indexOf(rootUsername) < 0) || !rootUsername) ? 'grey' : 'black'" class="fa fa-heart" aria-hidden="true"></i><span>{{tweet.likes.length}}</span>
            </div>
            <div class="inlineDiv">
              <i ng-click="showBtns = true" class="fa fa-ellipsis-h" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div ng-show="(tweet.author) && (rootUsername === tweet.author) && (showBtns)" class="editTweets">
          <div ng-show="!editMode">
            <button ng-click="editMode = true; originalContent = tweet.content" class="btn btn-primary btn-block">Edit</button>
            <button class="btn btn-danger btn-block" ng-click="deleteTweet(tweet._id, tweet.author)">Delete</button>
            <button class="btn btn-default btn-block" ng-click="showBtns = false" name="button">Cancel</button>
          </div>
          <div ng-show="editMode" class="editButtons">
            <textarea ng-model="tweet.content" rows="8" cols="80"></textarea>
            <button ng-click="saveTweet(tweet._id, tweet.content)" class="btn btn-success">Save</button>
            <button ng-click="editMode = false; tweet.content = originalContent" class="btn btn-primary">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
