<div class="container">

  <h1>World Timeline</h1>

  <div class="worldTweets">
    <div class="panel panel-default" ng-repeat="tweet in tweets">
      <div class="panel-body">
        {{tweet.date | date : "MMM dd, yyyy"}}<br>
        <a ui-sref="profile({ username: tweet.author })">{{ tweet.author }}</a> tweeted '{{tweet.content}}'
        <div ng-show="rootUsername === tweet.author" class="editTweets">
          <button class="btn btn-primary">Edit</button>
          <button class="btn btn-success">Save</button>
          <button class="btn btn-primary">Cancel</button>
          <button class="btn btn-danger" ng-click="deleteTweet(tweet._id, tweet.author)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
